.App {
  text-align: center;
}



.resault{
  margin:auto;
  height:40vh;
  width:100vw;
  display:flex;
  justify-Content:center;
  align-Items:center;
  font-size:30PX;
  border-radius: 7px;
  font-weight: border;
  background:url('https://media.wired.co.uk/photos/606dba1c9a15f73a597a2aa1/master/w_1600%2Cc_limit/weather.jpg');
  background-size: cover;
  background-position: center;
  margin:auto;
  color:black

}
.inp{
  border: none;
  outline: none;
  perspective: none;
  box-shadow: 5PX 5PX 10PX rgba(0, 0, 0,1);
  padding:  10PX 0;
  border-radius: 5px;
  font-size: 15PX;

}
.btn{
  font-size: 20PX;
  text-align: center;
  width: 160PX;
  font-weight: bolder;
  text-transform: capitalize;
  padding:  15PX 0;
  background-color:rgb(18, 141, 179);
  color:white;
  cursor: pointer;
  border-radius: .5rem;
  margin-left: 5PX;

}
.btn:hover{
  box-shadow: 0 5PX 10PX rgba(0, 0, 0, 0.2);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
